.header { 
background-color: #292929;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 726px;
color: #fff;
}
.headerHat{
margin-top: 150px;
}